#background_image {
  position: fixed;
  width:100
  height:150vh;
  background-image:url('../media/images/hunter.jpg');
  background-repeat: no-repeat;
  overflow: hidden;
}

.background {
  position: fixed;
  top:-2%;
  left:-2%;

}
